.form-container {
    display: flex;
    flex-direction: column;
}

.form-container>* {
    width: 100%;
}

.button-row {
    float: right;
    a,
    button {
        margin-right: 8px;
    }
}

.image-wrapper {
    text-align: center;
    margin: 10px 0;
    .image {
        width: auto;
        height: 200px;
        border-radius: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .image-placeholder {
        display: inline-block;
        background-color: #eee;
        width: 200px;
        height: 200px;
        border-radius: 0;
    }
    .text-block {
        margin-top: 88px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.error {
    color: brown;
}