<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <form *ngIf="form" [formGroup]="form" class="form-container">

        <mat-form-field>
            <input type="password" matInput formControlName="currentPassword" placeholder="Current Password" required />
            <mat-error *ngIf="( form.get('currentPassword').hasError('required') ) && form.get('currentPassword').touched">
                <span class="error" *ngIf="form.get('currentPassword').hasError('required') || form.get('currentPassword').touched">
          You must enter a value
        </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput formControlName="newPassword" placeholder="New Password" required />
            <mat-error *ngIf="( form.get('newPassword').hasError('required') ) && form.get('newPassword').touched">
                <span class="error" *ngIf="form.get('newPassword').hasError('required') || form.get('newPassword').touched">
          You must enter a value
        </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput formControlName="lastPassword" placeholder="Confirm Password" required (keyup)="onKey($event)" />
            <mat-error *ngIf="( form.get('lastPassword').hasError('required') ) && form.get('lastPassword').touched">
                <span class="error" *ngIf="form.get('lastPassword').hasError('required') || form.get('lastPassword').touched">
          You must enter a value
        </span>
            </mat-error>
        </mat-form-field>


    </form>
</div>
<div mat-dialog-actions class="button-row">
    <button mat-stroked-button (click)="onNoClick()" cdkFocusInitial>No Thanks</button>
    <button mat-stroked-button color="primary" *ngIf="!isDone" [disabled]="true">Wait ...</button>
    <button mat-stroked-button color="primary" *ngIf="data.action == 'Edit' && isDone" [disabled]="!isReadyToSave" (click)="edit()">Update</button>
</div>