table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.text-hide {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-card {
    border-radius: 0;
}